*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 350px;
    margin: 50px auto;
    text-align: center;
}
.con-main{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #f0f8ff;
}