/* InventoryPage.css */

/* Container styling */
.inventory-container {
  padding: 1rem;
}
body{
  width: 100%;
}
/* Title styling */
.inventory-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Button styling */
.add-container-btn {
  background-color: #38a169;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.add-container-btn:hover {
  background-color:transparent;
  color: black;
}

/* Table styling */
.table-container {
  margin-top: 1rem;
  overflow-x: auto;
  justify-items: center;
}

table {
  width: 97%;
  border-collapse: collapse;
  border: 1px solid #ccc;

}


td {
  padding: 0.75rem;
  text-align: left;
  text-align: center;
  
}
th{
  padding: 0.75rem;
  text-align: center;

}

th {
  background-color: #edf2f7;
}

tr:nth-child(even) {
  background-color: #f7fafc;
}

table button{
  padding: 4px 23px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 5px;
}
table button:hover{
  background-color: skyblue;
  color: #f2f2f2;
  border: none;
  outline: none;
}